{% extends "user/baseuser.html" %}
{% load static %}

{% block content %}
<!--====== App Content ======-->
<div class="app-content">

    <!--====== Anti Flash White Background ======-->
    <div class="bg-anti-flash-white">

        <!--====== White Container ======-->
        <div class="white-container">
            <div class="container">

                <!--====== Primary Slider ======-->
                <div class="s-skeleton s-skeleton--h-600 s-skeleton--bg-black">
                    <div class="owl-carousel primary-style-2" id="hero-slider">
                        <div class="hero-slide hero-slide--4">
                            <div class="primary-style-2-container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="slider-content slider-content--animation">

                                            <span class="content-span-1 u-c-white">Find Top Brands</span>

                                            <span class="content-span-2 u-c-white">10% Off On Intimates</span>

                                            <span class="content-span-3 u-c-white">Find Intimates on best prices</span>

                                            <span class="content-span-4 u-c-white">Starting At

                                                <span class="u-c-brand">$100.00</span></span>

                                            <a class="shop-now-link btn--e-brand" href="shop-side-version-2.html">SHOP NOW</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hero-slide hero-slide--5">
                            <div class="primary-style-2-container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="slider-content slider-content--animation">

                                            <span class="content-span-1 u-c-white">Find Top Brands</span>

                                            <span class="content-span-2 u-c-white">10% Off On Electronics</span>

                                            <span class="content-span-3 u-c-white">Find electronics on best prices</span>

                                            <span class="content-span-4 u-c-white">Starting At

                                                <span class="u-c-brand">$1000.00</span></span>

                                            <a class="shop-now-link btn--e-brand" href="shop-side-version-2.html">SHOP NOW</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hero-slide hero-slide--6">
                            <div class="primary-style-2-container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="slider-content slider-content--animation">

                                            <span class="content-span-1 u-c-white">Find Top Brands</span>

                                            <span class="content-span-2 u-c-white">10% Off On Outwear</span>

                                            <span class="content-span-3 u-c-white">Find outwear on best prices</span>

                                            <span class="content-span-4 u-c-white">Starting At

                                                <span class="u-c-brand">$100.00</span></span>

                                            <a class="shop-now-link btn--e-brand" href="shop-side-version-2.html">SHOP NOW</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Primary Slider ======-->
            </div>

            <!--====== Section 1 ======-->
            
            <!--====== Electronic Category ======-->
            
            <div class="u-s-p-y-60" id="electronic-01">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="block">

                                    <span class="block__title">ELECTRONIC TOP CATEGORY</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">
                                <div class="category-o">
                                    <div class="aspect aspect--bg-grey aspect--square category-o__img-wrap">
                                        <img class="aspect__img category-o__img" src="{% static 'images/product/electronic/product1.jpg' %}" alt=""></div>
                                    <div class="category-o__info">
                                        <a class="category-o__shop-now btn--e-white-brand" href="laptop.html">Laptops</a></div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">
                                <div class="category-o">
                                    <div class="aspect aspect--bg-grey aspect--square category-o__img-wrap">
                                        <img class="aspect__img category-o__img" src="{% static 'images/product/electronic/product35.jpg' %}" alt=""></div>
                                    <div class="category-o__info">

                                        <a class="category-o__shop-now btn--e-white-brand" href="smartphones.html">Smartphones</a></div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">
                                <div class="category-o">
                                    <div class="aspect aspect--bg-grey aspect--square category-o__img-wrap">

                                        <img class="aspect__img category-o__img" src="{% static 'images/product/electronic/product3.jpg' %}" alt=""></div>
                                    <div class="category-o__info">
                                        <a class="category-o__shop-now btn--e-white-brand" href="headphones.html">Headphones</a></div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">
                                <div class="category-o">
                                    <div class="aspect aspect--bg-grey aspect--square category-o__img-wrap">

                                        <img class="aspect__img category-o__img" src="{% static 'images/product/electronic/product32.jpg' %}" alt=""></div>
                                    <div class="category-o__info">

                                        <a class="category-o__shop-now btn--e-white-brand" href="Tv.html">TV's</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>

            <!--====== Electronic Category ======-->
            <!--====== End - Section 1 ======-->
            <!--====== Section 2 ======-->
            <!--====== Electronics Tab ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="block">

                                    <span class="block__title">ELECTRONIC'S</span>
                                    <ul class="nav tab-list">
                                        <li class="nav-item">

                                            <a class="nav-link btn--e-white-brand-shadow" data-toggle="tab" href="#e-l-p">LATEST PRODUCTS</a></li>
                                        <li class="nav-item">

                                            <a class="nav-link btn--e-white-brand-shadow active" data-toggle="tab" href="#e-b-s">BEST SELLING</a></li>
                                        <li class="nav-item">

                                            <a class="nav-link btn--e-white-brand-shadow" data-toggle="tab" href="#e-t-r">TOP RATING</a></li>
                                        <li class="nav-item">

                                            <a class="nav-link btn--e-white-brand-shadow" data-toggle="tab" href="#e-f-p">FEATURED PRODUCTS</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="tab-content">
                            <!--====== Tab 2 ======-->
                            <div class="tab-pane fade show active" id="e-b-s">
                                <div class="slider-fouc">
                                    <div class="owl-carousel tab-slider" data-item="4">
                                    {% for object in object_list %}

                            
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail-variable.html">

                                                        <img class="aspect__img" src="{% static 'images/product/electronic/product2.jpg' %}" alt=""></a>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-grid-full.html">Electronics</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail-variable.html">{{ object.title}}</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                    <span class="product-o__review">(2000)</span></div>

                                                <span class="product-o__price">{{ object.discount_price}}

                                                    <span class="product-o__discount">{{ object.price }}</span></span>
                                            </div>
                                        </div>

                                    {% endfor %}
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail-variable.html">

                                                        <img class="aspect__img" src="{% static 'images/product/electronic/product1.jpg' %}" alt=""></a>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-grid-full.html">Electronics</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail-variable-2.html">HP Laptop Pavilion 14 BF008TX</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                    <span class="product-o__review">(23)</span></div>

                                                <span class="product-o__price">Rp 9,499,000

                                                    <span class="product-o__discount">Rp 10,000,000</span></span>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail-variable-2.html">

                                                        <img class="aspect__img" src="{% static 'images/product/electronic/product33.jpeg' %}" alt=""></a>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-grid-full.html">Electronics</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail-variable-3.html">Samsung 4k LED Oplex</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                    <span class="product-o__review">(23)</span></div>

                                                <span class="product-o__price">Rp15.000.000

                                                    <span class="product-o__discount">Rp15.900.000</span></span>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail-variable-3.html">

                                                        <img class="aspect__img" src="{% static 'images/product/electronic/product34.jpg' %}" alt=""></a>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-grid-full.html">Electronics</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail-variable-4.html">Realme 5 Pro</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                    <span class="product-o__review">(23)</span></div>

                                                <span class="product-o__price">Rp2.799.000,00

                                                    <span class="product-o__discount">Rp2.999.000,00</span></span>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail-variable-4.html">

                                                        <img class="aspect__img" src="{% static 'images/product/electronic/product6.jpg' %}" alt=""></a>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-grid-full.html">Electronics</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail-variable-5.html">Canon EOS R Mirrorless Digital Camera with 24-105mm Lens</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                    <span class="product-o__review">(23)</span></div>

                                                <span class="product-o__price">Rp52.999.000

                                                    <span class="product-o__discount">Rp54.999.000</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--====== End - Tab 2 ======-->
                            <!--====== Tab 3 ======-->
                            <div class="tab-pane" id="e-t-r">
                                <div class="slider-fouc">
                                    <div class="owl-carousel tab-slider" data-item="4">
                                         <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail-variable.html">

                                                        <img class="aspect__img" src="{% static 'images/product/electronic/product2.jpg' %}" alt=""></a>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Electronics</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">Red Wireless Headphone</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                    <span class="product-o__review">(23)</span></div>

                                                <span class="product-o__price">Rp554.000

                                                    <span class="product-o__discount">Rp600.000</span></span>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                        <img class="aspect__img" src="{% static 'images/product/electronic/product1.jpg' %}" alt=""></a>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Electronics</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">HP Laptop Pavilion 14 BF008TX</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                    <span class="product-o__review">(23)</span></div>

                                                <span class="product-o__price">Rp 9,499,000

                                                    <span class="product-o__discount">Rp 10,000,000</span></span>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                        <img class="aspect__img" src="{% static 'images/product/electronic/product33.jpeg" alt=""></a>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Electronics</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">Samsung 4k LED Oplex</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                    <span class="product-o__review">(23)</span></div>

                                                <span class="product-o__price">Rp15.000.000

                                                    <span class="product-o__discount">Rp15.900.000</span></span>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                        <img class="aspect__img" src="{% static 'images/product/electronic/product34.jpg' %}" alt=""></a>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Electronics</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">Realme 5 Pro</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                    <span class="product-o__review">(23)</span></div>
                                                <span class="product-o__price">Rp2.799.000,00

                                                    <span class="product-o__discount">Rp2.999.000,00</span></span>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                        <img class="aspect__img" src="{% static 'images/product/electronic/product6.jpg' %}" alt=""></a>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Electronics</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">Canon EOS R Mirrorless Digital Camera with 24-105mm Lens</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                    <span class="product-o__review">(23)</span></div>

                                                <span class="product-o__price">Rp52.999.000

                                                    <span class="product-o__discount">Rp54.999.000</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--====== End - Tab 3 ======-->
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Men Tab ======-->
            <!--====== End - Section 6 ======-->


            <!--====== Section 7 ======-->
            <div class="u-s-p-b-60">
                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 u-s-m-b-30">
                                <div class="x-product u-h-100">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <ul class="x-product__feature-list">
                                                <li class="feature">

                                                    <span class="feature__name">NAME</span>

                                                    <span class="feature__value">New Fashion A Nice Elegant</span></li>
                                                <li class="feature">

                                                    <span class="feature__name">PRICE</span>

                                                    <span class="feature__value">Rp800.000</span></li>
                                                <li class="feature">

                                                    <span class="feature__name">COLOR</span>

                                                    <span class="feature__value">Black</span></li>
                                                <li class="feature">

                                                    <span class="feature__name">SIZE</span>

                                                    <span class="feature__value">XL</span></li>
                                                <li class="feature">

                                                    <span class="feature__name">MATERIAL</span>

                                                    <span class="feature__value">Cotton</span></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                            <div class="x-product__img-wrap">

                                                <a class="u-d-block" href="product-detail-1-1.html">

                                                    <img class="u-d-block u-img-fluid" src="{% static 'images/product/men/product11.jpg' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 u-s-m-b-30">
                                <div class="x-product u-h-100">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <ul class="x-product__feature-list">
                                                <li class="feature">

                                                    <span class="feature__name">NAME</span>

                                                    <span class="feature__value">New Fashion A Nice Elegant</span></li>
                                                <li class="feature">

                                                    <span class="feature__name">PRICE</span>

                                                    <span class="feature__value">Rp800.000</span></li>
                                                <li class="feature">

                                                    <span class="feature__name">COLOR</span>

                                                    <span class="feature__value">White Black</span></li>
                                                <li class="feature">

                                                    <span class="feature__name">SIZE</span>

                                                    <span class="feature__value">XL</span></li>
                                                <li class="feature">

                                                    <span class="feature__name">MATERIAL</span>

                                                    <span class="feature__value">Cotton</span></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                            <div class="x-product__img-wrap">

                                                <a class="u-d-block" href="product-detail-1-2.html">

                                                    <img class="u-d-block u-img-fluid" src="{% static 'images/product/women/product20.jpg' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--====== Section Content ======-->
            </div>
            <!--====== End - Section 7 ======-->


            <!--====== Section 8 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">FLASH DEALS</h1>

                                    <span class="section__span u-c-silver u-s-m-b-16">FILL YOUR CART WITH FLASH PRODUCTS</span>
                                    <div class="section_countdown-wrap">
                                        <div class="countdown countdown--style-section" data-countdown="2020/02/04"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">

                                <!--====== Product Orientation Version 2 ======-->
                                <div class="product-o2 u-h-100">
                                    <div class="product-o2__wrap">

                                        <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail-1.html">

                                            <img class="aspect__img product-o2__img" src="{% static 'images/product/women/product12.png' %}" alt=""></a>
                                        <div class="product-o2__action-wrap">
                                            <ul class="product-o2__action-list">
                                                <li>

                                                    <a data-modal="modal" data-modal-id="#quick-look" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                <li>

                                                    <a data-modal="modal" data-modal-id="#add-to-cart" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                <li>

                                                    <a href="signin.html" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                <li>

                                                    <a href="signin.html" data-toggle="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-o2__content">

                                        <span class="product-o2__category">

                                            <a href="shop-side-version-2.html">Women Clothing</a></span>

                                        <span class="product-o2__name">

                                            <a href="product-detail-1.html">New Dress H Nice Elegant</a></span>
                                        <div class="product-o2__rating gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                            <span class="product-o2__review">(23)</span></div>

                                        <span class="product-o2__price">Rp299.000

                                            <span class="product-o2__discount">Rp.500.000</span></span>
                                    </div>
                                </div>
                                <!--====== End - Product Orientation Version 2 ======-->
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">

                                <!--====== Product Orientation Version 2 ======-->
                                <div class="product-o2 u-h-100">
                                    <div class="product-o2__wrap">

                                        <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail-2.html">

                                            <img class="aspect__img product-o2__img" src="{% static 'images/product/men/product15.jpg' %}" alt=""></a>
                                        <div class="product-o2__action-wrap">
                                            <ul class="product-o2__action-list">
                                                <li>

                                                    <a data-modal="modal" data-modal-id="#quick-look" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                <li>

                                                    <a data-modal="modal" data-modal-id="#add-to-cart" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                <li>

                                                    <a href="signin.html" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                <li>

                                                    <a href="signin.html" data-toggle="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-o2__content">

                                        <span class="product-o2__category">

                                            <a href="shop-side-version-2.html">Men Clothing</a></span>

                                        <span class="product-o2__name">

                                            <a href="product-detail-2.html">New Mens Fashion Stylish Slim Fit One Button Suit</a></span>
                                        <div class="product-o2__rating gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                            <span class="product-o2__review">(23)</span></div>

                                        <span class="product-o2__price">Rp.250.000

                                            <span class="product-o2__discount">Rp.600.000</span></span>
                                    </div>
                                </div>
                                <!--====== End - Product Orientation Version 2 ======-->
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">

                                <!--====== Product Orientation Version 2 ======-->
                                <div class="product-o2 u-h-100">
                                    <div class="product-o2__wrap">

                                        <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail-3.html">

                                            <img class="aspect__img product-o2__img" src="{% static 'images/product/electronic/product36.jpg' %}" alt=""></a>
                                        <div class="product-o2__action-wrap">
                                            <ul class="product-o2__action-list">
                                                <li>

                                                    <a data-modal="modal" data-modal-id="#quick-look" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                <li>

                                                    <a data-modal="modal" data-modal-id="#add-to-cart" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                <li>

                                                    <a href="signin.html" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                <li>

                                                    <a href="signin.html" data-toggle="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-o2__content">

                                        <span class="product-o2__category">

                                            <a href="shop-side-version-2.html">Electronic</a></span>

                                        <span class="product-o2__name">

                                            <a href="product-detail-3.html">MESIN CUCI LG FRONT LOADING F2515RTGV(15KG+DRYER 8 KG)t</a></span>
                                        <div class="product-o2__rating gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                            <span class="product-o2__review">(23)</span></div>

                                        <span class="product-o2__price">Rp 11.999.000

                                            <span class="product-o2__discount">Rp 13.699.000</span></span>
                                    </div>
                                </div>
                                <!--====== End - Product Orientation Version 2 ======-->
                            </div>
                        </div>
                    </div>
                </div>

                <!--====== Section Content ======-->
            </div>
            <!--====== End - Section 8 ======-->
        </div>
        <!--====== End - White Container ======-->
    </div>
    <!--====== End - Anti Flash White Background ======-->
</div>
<!--====== End - App Content ======-->

{% endblock%}